.stock
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap

.stock__item
	width: 302px
	background-color: #1a1a1a
	border-radius: 5px
	padding-bottom: 55px
	margin-right: 18px
	margin-bottom: 22px
	position: relative

.stock__item:nth-child(3n+3)
	margin-right: 0

.stock__description
	padding-left: 25px
	padding-right: 10px

.stock__title
	font-family: Arial, sans-serif
	font-size: 20px
	text-transform: uppercase
	color: white
	margin-bottom: 15px

.stock__title_dis-bl
	display: block

.stock__text
	font-family: Arial, sans-serif
	font-size: 14px
	color: #747474