@media (max-width: 943px)
	.stock
		justify-content: center

	.stock__item:nth-child(3n+3)
		margin-right: 18px

	.stock__item:nth-child(2n+2)
		margin-right: 0

@media (max-width: 768px)
	.stock__item
		margin-right: 0

	.stock__item:nth-child(3n+3)
		margin-right: 0