@media (max-width: 943px)
	.tab-nav
		justify-content: center

	.tab-nav > .tab-nav__item:nth-child(3n+3) > .btn-proj__tab
		width: 768px

@media (max-width: 768px)
	.tab-nav > .tab-nav__item:nth-child(3n+3) > .btn-proj__tab
		width: 375px

@media (max-width: 375px)
	.tab-nav > .tab-nav__item:nth-child(3n+3) > .btn-proj__tab
		width: 320px